# This is a test workflow used for testing AnimMouse/setup-rclone action if it works or not.
# This is not an example workflow that you will use to use setup-rclone.
# If you forked this repository in order to use setup-rclone, you are doing it wrong. You need to create your own repository and use it there.
# You are only going to use this if you help to develop, or create your own version of this action.

name: Test setup-rclone
on:
  push:
    paths:
      - action.yml
      - scripts/**
      - .github/workflows/test.yaml
  pull_request:
    paths:
      - action.yml
      - scripts/**
      - .github/workflows/test.yaml
  schedule:
    - cron: '7 11 1 * *'
  workflow_dispatch:
  
jobs:
  test-with-config:
    if: github.event_name != 'pull_request'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-13]
        version: [latest, "${{ vars.SPECIFIED_VERSION }}"] # Set the SPECIFIED_VERSION variable to the last previous version in order to pass this test
        
    steps:
      - name: Setup Rclone using setup-rclone
        uses: AnimMouse/setup-rclone@main
        with:
          rclone_config: ${{ secrets.RCLONE_CONFIG }} # Refer to setup-rclone wiki in order to pass this test
          version: ${{ matrix.version }}
          
      - name: Test Rclone by listing remotes
        run: rclone listremotes
        
      - name: Test Rclone by listing test remote
        run: 'rclone lsd rclone-test-remote:'
        
      - name: Test Rclone by checking version
        run: rclone version
        
  test-with-config-plain-text:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-13]
        version: [latest, "${{ vars.SPECIFIED_VERSION }}"]
        
    steps:
      - name: Setup Rclone using setup-rclone
        uses: AnimMouse/setup-rclone@main
        with:
          rclone_config: |
            [rclone-test-remote]
            type = http
            url = https://beta.rclone.org/test/
          disable_base64: true
          version: ${{ matrix.version }}
          
      - name: Test Rclone by listing test remote
        run: 'rclone lsd rclone-test-remote:'
        
  test-with-config-zstd:
    if: github.event_name != 'pull_request'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-13]
        version: [latest, "${{ vars.SPECIFIED_VERSION }}"]
        
    steps:
      - name: Setup Rclone using setup-rclone
        uses: AnimMouse/setup-rclone@main
        with:
          rclone_config: ${{ secrets.RCLONE_CONFIG_ZSTD }}
          zstd_config: true
          version: ${{ matrix.version }}
          
      - name: Test Rclone by listing remotes
        run: rclone listremotes
        
      - name: Test Rclone by listing test remote
        run: 'rclone lsd rclone-test-remote:'
        
  test-config-less:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-13]
        version: [latest, "${{ vars.SPECIFIED_VERSION }}"]
        
    steps:
      - name: Setup Rclone using setup-rclone
        uses: AnimMouse/setup-rclone@main
        with:
          version: ${{ matrix.version }}
          
      - name: Test Rclone by listing config-less test remote
        run: 'rclone lsd --http-url https://beta.rclone.org/test/ :http:'