# This is a test workflow used for testing AnimMouse/setup-rclone action if it works or not.
# This is not an example workflow that you will use to use setup-rclone.
# If you forked this repository in order to use setup-rclone, you are doing it wrong. You need to create your own repository and use it there.
# You are only going to use this if you help to develop, or create your own version of this action.

name: Test setup-rclone
on:
  push:
    branches:
      - main
    paths:
      - action.yaml
      - scripts/**
      - .github/workflows/test.yaml
  schedule:
    - cron: '7 11 1 * *'
  workflow_dispatch:
  
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-15-intel]
        version: [latest, specified]
        config: [secrets, config-less, plain-text, zstd]
        include:
          - config: config-less
            config-value: ''
          - config: plain-text
            config-value: |
              [rclone-test-remote]
              type = http
              url = https://beta.rclone.org/test/
              
    steps:
      - name: Get Rclone penultimate version on Unix-like
        id: penultimate-unix-like
        if: (runner.os == 'Linux' || runner.os == 'macOS') && matrix.version == 'specified'
        run: echo version=$(gh api repos/rclone/rclone/releases -q .[1].tag_name) >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ github.token }}
          
      - name: Get Rclone penultimate version on Windows
        id: penultimate-windows
        if: runner.os == 'Windows' && matrix.version == 'specified'
        run: |
          $version = (gh api repos/rclone/rclone/releases -q .[1].tag_name)
          Add-Content $env:GITHUB_OUTPUT version=$version
        env:
          GITHUB_TOKEN: ${{ github.token }}
          
      - name: Setup Rclone using setup-rclone
        uses: AnimMouse/setup-rclone@main
        with:
          rclone_config: ${{ (matrix.config == 'secrets' && secrets.RCLONE_CONFIG) || (matrix.config == 'zstd' && secrets.RCLONE_CONFIG_ZSTD) || matrix.config-value }}
          disable_base64: ${{ matrix.config == 'plain-text' }}
          zstd_config: ${{ matrix.config == 'zstd' }}
          version: ${{ matrix.version == 'specified' && (steps.penultimate-unix-like.outputs.version || steps.penultimate-windows.outputs.version) || matrix.version }}
          
      - name: Test Rclone by listing remotes
        if: matrix.config != 'config-less'
        run: rclone listremotes
        
      - name: Test Rclone by listing test remote
        if: matrix.config != 'config-less'
        run: 'rclone lsd rclone-test-remote:'
        
      - name: Test Rclone by listing config-less test remote
        if: matrix.config == 'config-less'
        run: 'rclone lsd --http-url https://beta.rclone.org/test/ :http:'
        
      - name: Test Rclone by checking version
        run: rclone version